name: Trivy Image Scan

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  trivy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build image
        run: |
          docker build -t devsecops-scan:latest .

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.20.0
        with:
          image-ref: devsecops-scan:latest
          format: table
          exit-code: 1
          severity: CRITICAL,HIGH
